/*****************************************/
.loader-default {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/**** ANIMATIONS ****/

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*****************************************/
.squared-loader {
  border: 16px solid #f3f3f3;
  border-radius: 10%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.squared-loader-cubic-bezier {
  border: 16px solid #f3f3f3;
  border-radius: 10%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s cubic-bezier(0.4, 0, 1, 1) infinite; /* Safari */
  animation: spin 2s cubic-bezier(0.4, 0, 1, 1) infinite;
}
.squared-loader-ease-in-out {
  border: 16px solid #f3f3f3;
  border-radius: 10%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s ease-in-out infinite; /* Safari */
  animation: spin 2s ease-in-out infinite;
}


/**** ANIMATIONS ****/

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




/*https://webdeasy.de/en/css-loading-animations/*/
/*.loader-text {
}*/


